<launch>
<arg name="imu" default="adis16448" doc="The IMU model."/>
<arg name="spi_path" default="/dev/spidev0.1" doc="The SPI directory."/>
<arg name="frequency" default="200" doc="The IMU sample frequency."/> 


<node name="mav_imu_node" pkg="mav_imu" type="mav_imu_node" output="screen">
    <param name="imu" value="$(arg imu)" type="string"/>
    <param name="spi_path" value="$(arg spi_path)" type="string"/>
    <param name="frequency" value="$(arg frequency)" type="int"/>
</node>

<node name="imu_filter_madgwick" pkg="imu_filter_madgwick" type="imu_filter_node"/>

</launch>
